@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
  background-color: #28314b;
  color:  #bbd6ff;
}

body {
  font-family: 'Source Code Pro', monospace;
}

.App {
  width: 800px;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  margin-left: auto;
  margin-right: auto;
}

.words {
font-size: 30px;
}

.correct {
  font-weight: bold;
  color: #02A527 ;
}

.incorrect {
  font-weight: bold;
  color: #FF0000;
}

.active {
  font-weight: bold;
  color: white;
  background-color: #D76B9D;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.restart {
  font-size: 15px;
  width: 100px;
  background-color: #08BF32;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
  font-family: 'Source Code Pro', monospace;
}

.restart:hover {
  background:white;
  color: #08BF32;
  border: 1px solid #08BF32;
}

.randomize {
  font-size: 15px;
  width: 100px;
  background-color: #D76B9D;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
  font-family: 'Source Code Pro', monospace;
}

.randomize:hover {
  background:white;
  color: #D76B9D;
  border: 1px solid #D76B9D;
}


