@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
  background-color: #28314b;
  color:  #bbd6ff;
}

body {
  font-family: 'Source Code Pro', monospace;
}

.App {
  width: 800px;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  margin-left: auto;
  margin-right: auto;
}

.words {
font-size: 30px;
}

.correct {
  font-weight: bold;
  color: #56d674 ;
}

.incorrect {
  font-weight: bold;
  color: #e18d8d;
}

.active {
  font-weight: bold;
  color: white;
  background-color: #23b4fd;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  font-size: 15px;
  width: 80px;
  background-color: #28314b;
  color: #bbd6ff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 22px;
}

.buttons:hover {
  /* color: #23b4fd; */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.input {
  opacity: 0;
  position: absolute;
  left: -9999px;
}

